.image {
    position: fixed;
    width: 100%;
    overflow: hidden;
    /* for IE 6 */
}
body {
  background-image: url("images/astronomy-constellation-dark-998641.jpg");
}

.Title  {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}
.card-deck{
  left: 20%;
  position: absolute;
  top: 200px;
  right: 2%;
}

.card{
  background-color: rgba(122, 62, 219, 0.5);
  color: white;
}
.Title span, #name{
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(122, 62, 219);
    /* fallback color */
    background: rgba(122, 62, 219, 0.7);
    padding: 10px;
}
.btn-sample { 
    color: #ffffff; 
    background-color: #611BBD; 
    border-color: #130269; 
  } 
   
  .btn-sample:hover, 
  .btn-sample:focus, 
  .btn-sample:active, 
  .btn-sample.active, 
  .open .dropdown-toggle.btn-sample { 
    color: #ffffff; 
    background-color: #49247A; 
    border-color: #130269; 
  } 
   
  .btn-sample:active, 
  .btn-sample.active, 
  .open .dropdown-toggle.btn-sample { 
    background-image: none; 
  } 
   
  .btn-sample.disabled, 
  .btn-sample[disabled], 
  fieldset[disabled] .btn-sample, 
  .btn-sample.disabled:hover, 
  .btn-sample[disabled]:hover, 
  fieldset[disabled] .btn-sample:hover, 
  .btn-sample.disabled:focus, 
  .btn-sample[disabled]:focus, 
  fieldset[disabled] .btn-sample:focus, 
  .btn-sample.disabled:active, 
  .btn-sample[disabled]:active, 
  fieldset[disabled] .btn-sample:active, 
  .btn-sample.disabled.active, 
  .btn-sample[disabled].active, 
  fieldset[disabled] .btn-sample.active { 
    background-color: #611BBD; 
    border-color: #130269; 
  } 
   
  .btn-sample .badge { 
    color: #611BBD; 
    background-color: #ffffff; 
  }


  @keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 10000px;}
}


.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}


.twinkling{
  background:transparent url(images/twinkle.png) repeat top center;
  z-index:1;
  animation:move-twink-back 200s linear infinite;
}

